/node_modules
/public/build
/public/hot
/public/log
/public/storage
/public/storage/framework/views
/storage/*.key
/vendor
/db
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.github/workflows/staging-cicd.yml
/.github/workflows/live-cicd.yml
deploy.log
deploy.sh
composer.lock
# package-lock.json
timbu.ke.ini
staging.timbu.ke.ini
staging.timbu.com.ini
timbu.in.ini
staging.timbu.in.ini
localhost.ini
/storage
speed_memory_benchmark.csv
/config/site_configs/localhost.ini
/config/site_configs/hotelsng.ini
/config/site_configs/timbuke.ini
Dockerfile
nginx.config
Dockerfile.nginx
Docker-compose.yml
public/logs/broken_pages_404.log
public/logs/broken_pages_500.log
